.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.map-search-container {
    position: relative;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    top: 520px;
    left: 0;
    width: 250px;
    margin: 10px 0 0 10px;
    padding: 1px;
    overflow: visible;
    z-index: 10000;
}

#geocoder {
    position: relative;
    margin: 10px 0 10px;
}

#returnbutton {
    position: relative;
    margin: 10px 0 10px;
    width: 100%;
}

.map-data-container {
    position: relative;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    width: 260px;
    top: 0;
    left: 10px;
    margin-top: 10px;
    padding: 10px;
    overflow: visible;
}

.legend {
    position: absolute;
    display: none;
    background-color: #fff;
    border-radius: 3px;
    bottom: 0;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    right: 10px;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend-key {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

label {
    width: 95%;
    padding-top: 10px;
}

form {
    padding-bottom: 20px;
    left: 10px;
}

#deselectHoods {
    position: absolute; 
    z-index: 1000; 
    top: 410px; 
    left: 10px; 
    background-color: white; 
    padding: 2px;
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 16px; 
}

/* .mapboxgl-ctrl-directions {
    position: absolute;
    top: 500px;
    left: 10px;
    z-index: 1000;
} */

.opacity-slider-container {
    user-select: none;
    position: absolute;
    top: 450px; 
    left: 10px;
    z-index: 1000;
    background-color: white; 
    padding: 2px;
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 16px; 
}

.sidebar {
    height: 100%;
    width: 250px;
    position: absolute;
    z-index: 9999;
    top: 60px;
    left: 10px;
    overflow-x: hidden;
    background-color: lightgrey;
    height: 520px;
    border: 2px solid black;
}

.header{
    height: 100px;
}

.image{
    bottom: 0;
}

.card {
    background-color: rgb(153, 206, 214);
    margin-right: 5px;
}
.card-header {
    font: 22px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.card-text {
    font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}