.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.map-search-container {
    position: relative;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    top: 520px;
    left: 0;
    width: 250px;
    margin: 10px 0 0 10px;
    padding: 1px;
    overflow: visible;
    z-index: 10000;
}

#geocoder {
    position: relative;
    margin: 10px 0 10px;
}

#returnbutton {
    position: relative;
    margin: 10px 0 10px;
    width: 100%;
}

.map-data-container {
    position: relative;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    width: 260px;
    top: 0;
    left: 10px;
    margin-top: 10px;
    padding: 10px;
    overflow: visible;
}


#deselectHoods {
    position: absolute;
    z-index: 1000;
    top: 350px;
    left: 10px;
    background-color: white;
    padding: 2px;
    border: 2px solid black;
    cursor: pointer;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#returnToToronto {
    left: 10px;
    background-color: white;
    padding: 2px;
    border: 2px solid black;
    cursor: pointer;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* .mapboxgl-ctrl-directions {
    position: absolute;
    top: 500px;
    left: 10px;
    z-index: 1000;
} */

.opacity-slider-container {
    user-select: none;
    position: absolute;
    top: 390px;
    left: 10px;
    z-index: 1000;
    background-color: white;
    padding: 2px;
    border: 2px solid #7F0000;
    cursor: pointer;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.sidebar {
    width: 250px;
    position: absolute;
    z-index: 9999;
    top: 60px;
    left: 10px;
    overflow-x: hidden;
    background-color: white;
    height: 470px;
    border: 2px solid#7F0000;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.header {
    height: 100px;
    font: 24px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.image {
    bottom: 0;
}

.container-fluid {
    background-color: white;
    border: 2px solid #7F0000;
}

.card {
    max-width: 18rem;
    margin-right: 5px;
    top: 50%;
    border: 2px solid #7F0000;
    font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
}

.card-header {
    font: 18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.card-text {
    font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.card-footer{
    font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#rectangle2 {
    height: 50px;
    width: 400px;
    position: absolute;
    top: 20%;
    left: 35%;
    border: 2px solid #7F0000;
    font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
}

.legend {
    position: absolute;
    background-color: white;
    border: 2px solid #7F0000;
    bottom: 0;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    right: 10px;
    z-index: 10200;
    width: 250px;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend h8 {
    margin: 0 0 7px;
}

.legend div span {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

.legend-key {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

label {
    width: 95%;
    padding-top: 10px;
}

form {
    padding-bottom: 20px;
    left: 10px;
}

.logo-image {
    max-width: 120px;
    max-height: 120px;
}

#rectangle {
    height: 375px;
    width: 1200px;
    position: absolute;
    top: 20%;
    left: 11%;
    border: 2px solid #7F0000;
    font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
}
#box {
    height: 125px;
    width: 1200px;
    position: absolute;
    top: 80%;
    left: 11%;
    border: 2px solid #7F0000;
    font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
}
.text {
    font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.text2 {
    font: 24px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
}
body{
    background-color: lightgrey;
}